*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}
:root{
    --bgcolor: #182138;
    --bg-light:#ffffff;
    --bg-button:#070B15;
    --bg-box-container:#1E293B;

    --text-primary: #F9FAFB;
    --text-secondary: #E3E7EE;
    --text-heading:#0F172A;

    --text-primary:#F9FAFB;
    --text-icons:#0F172A;

    --font-lg:24px;
    --font-f0:18px;
    --font-f1:16px;
    --font-f2:14px;
    --font-f3:12px;

    --hero-text-primary:96px;
    --hero-text-secondary:38px;

    --main-text-primary:50px;
    --main-text-secondary:var(--font-f0);

    --xxl:1600px;   /** very large device*/
    --xl:1400px;    /** large device */
    --x:1280px;     /** medium device */
    --md:790px;     /** ipad and tablet device */
    --xs:480px;     /** mobile device */
}

body{
    /* width: 1530px; */
    font-size: var(--font-f2);
    background-color: var(--bgcolor);
    color : var(--text-primary);
    margin: 3px;
}

.header_container{
    /* width: 100vw; */
    width: 100%;
    height: 575px;
    align-self: center;
    /* margin: 3px; */

    /* border: 1px solid white; */
}

.header_container .navbar{
    /* width: 100%; */
    /* margin: 3px; */
    padding: 2px 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* padding: 2px;
    width:7%;
    width: fit-content; */
}
.logo .size-1{
    font-size: var(--font-f0);
    text-align: center;
    font-weight: 100;
    /* padding: 2px; */

}
.logo .logo-text{
    text-align: center;
    cursor: pointer;
    font-size: var(--font-f2);
    /* font-weight: var(bright); */
}
.navbar .nav_links{
    width: 93%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 16px;
}
.text{
    opacity: 0.5;
    max-width: fit-content;
    padding:12px 20px;
}
.text:hover{
    opacity: 1;
    cursor: pointer;
}
.button{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.btn{
    border: 1px solid var(--text-primary);
    border-radius: 4px;
    padding: 12px 16px;
    width: 95px;
    text-align: center;
    cursor: pointer;
}
.btn-effect{
    background-color: var(--bg-button);
    border: none;
}

.hero{
    margin-top: 238px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section{
    margin: auto;
    padding: 20px 12px;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    align-items: start;
    gap: 24px;
}
.hero-section .hero-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-section .hero-text .welcome-text{
    font-size: var(--hero-text-primary);
    color:var(--text-primary);
    font-weight: 600;
    text-wrap: wrap;
}
.hero-section .hero-text > p{
    font-size: var(--hero-text-secondary);
    color: var(--text-secondary);
    text-wrap: wrap;
    /* opacity: 0.5; */
}
.btn-size{
    width: 300px;
}
.hero-section .button {
    display: none;
}

.main-section{
    height: 1824px;
    /* margin: auto; */
    padding: 20px 12px;
}

.main-section .skill-section{
    height: 666px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}
.main-section .commitment-section{
    height: 518px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */

}
.main-section .workflow-section{
    height: 640px;
    /* width: 100%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 1px solid white; */

}
.skill-section .skills-container{
    /* margin: 40px 0; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* padding:32px; */
}
.skills-container .skill-text{
    display: flex;
    flex-direction: column;
    /* width: 30%; */
    width: 450px;
    gap: 32px;
    /* border: 1px solid #E3E7EE; */
}

.skill-text .hero-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.skills-container .skills-box{
    width: 416px;
    height: 426px;
    background-color: var(--bg-box-container);
    border-radius: 24px;
    display: flex;
    justify-content: start;
    overflow: hidden;
    /* align-items: stretch; */

}
.skills-box .skills{
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 24px;
}
.skills .skill{
    display: flex;
    flex-direction: column;
    gap: 8px;

}
.skill .size-2{
    /* font-size: var(--font-lg); */
    /* text-align: center; */
    font-weight: 100;
    font-size: 44px;
    /* padding: 2px; */

}
.skill .skill-name{
    font-size: var(--font-f0);
    font-weight: 600;
    color: var(--text-primary);
}
.skill .expertie{
    font-size: var(--font-f2);
    color: var(--text-secondary);
}


.hero-text .welcome-text{
    font-size: var(--main-text-primary);
    color:var(--text-primary);
    font-weight: 600;
    text-wrap: wrap;
    /* padding: 24px; */
}
.hero-text > p{
    font-size: var(--main-text-secondary);
    color: var(--text-secondary);
    text-wrap: wrap;
    /* opacity: 0.5; */
}

.commitment-section .commitment-box{
    background-color:var(--bg-box-container);
    padding:32px 48px;
    /* width: 1200px; */
    /* display: flex;
    flex-direction: column; */
    text-align: center;
}
.commitment-box > div{
    font-size: 28px;
    color: var(--text-heading);
    font-weight: 800;
    padding: 12px 0;
}
.commitment-box > p{
    font-size: var(--font-f0);
    word-spacing: 10px;
    letter-spacing: 5px;
    padding: 12px 0;
}

.workflow-section .workflow-container{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 32px; */

}

.workflow-container .left-section{
    width: 50%;
    display: flex;
    justify-content: center;
    /* border: 1px solid white; */

}
.workflow-container .right-section{
    width: 50%;
    display: flex;
    justify-content: end;
    /* border: 1px solid white; */

}
.left-section .lefyy{
    /* position: absolute;
    left: 0px; */
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* z-index: -10; */
}
.lefyy > img{
    width:140px;
    height: 140px;
    border-radius: 300px;
}
.lefyy > div{
    color: var(--text-primary);
    font-size: 38px;
} 
.lefyy > p{
    color: var(--text-secondary);
    font-size: var(--font-f1);
}
.right-section .refyy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 75%; 
    height: 450px; 
}
.refyy .development-process{
    background-color: var(--bg-box-container);
    padding: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;

}
.development-process .dev{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 15vw;
    /* gap: 24px; */

}
.dev > div{
    font-size: var(--font-lg);
    color: var(--text-primary);
}
.dev > p{
    font-size: var(--font-f2);
    color: var(--text-secondary);
}

.footer-section{
    display: flex;
}
.footer-section .footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 32px;

}
.footer .container{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* padding: 32px; */
}
.container .left-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 24px;
    width: 50%;
    /* border: 1px solid white; */

}
.left-container .logo{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    gap: 8px;
}
.logo .name-text{
    color: var(--text-primary);
    font-size: var(--font-f2);
}
.left-container > p{
    color: var(--text-primary);
    font-size: var(--font-f1);
}

.container .right-container{
    width: 50%;
    /* border: 1px solid white; */

}
.right-container  .items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.items .item{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: start;
}
.item .heading{
    font-weight: 600;
}
 

@media screen and (max-width:450px){
    .header_container{
        height: fit-content;
    }
    .header_container .navbar{
        flex-direction: column;
        flex-wrap:nowrap;
        justify-content: center;
    }

    .navbar .logo{
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 8px 0;
        
    }
    .navbar .logo > div {
        display: none;
    }
    .logo .logo-text{
        font-size: var(--main-text-primary);
        text-align: center;
        letter-spacing: 10px;
    }
    .navbar .nav_links{
        justify-content: center;
        flex-wrap: wrap;
        gap: 2px 8px;
    }
    .nav_links p{
        border: 1px solid var(--bg-light);
        border-radius: 4px;
        padding: 4px 8px;
        opacity: 0.5;
    }
    .navbar .nav_links .button{
        display: none;
    }
    .hero-section .hero-text .welcome-text{
        font-size: 72px;
        color:var(--text-primary);
        font-weight: 600;
        text-wrap: wrap;
    }
    .hero-section .hero-text > p{
        font-size: var(--main-text-secondary);
        color: var(--text-secondary);
        text-wrap: wrap;
        /* opacity: 0.5; */
    }

    .footer .container{
        /* display: flex; */
        flex-direction: column;
        gap: 24px;
        /* width: 100%; */
        padding: 32px;
    }

    .right-container  .items{
        /* display: flex;
        flex-direction: row;
        justify-content: space-between; */
        flex-wrap: wrap;
        /* gap: 12px; */
    }
    
}


@media screen and (max-width:700px){
    .header_container{
        height: fit-content;
    }
    .navbar .nav_links .button{
        display: none;
    }
    .main .skill-section{
        height: fit-content;
        padding: 5px 0;
    }
    
    .skill-section .skills-container{
        flex-direction: column;
        gap: 32px 0;
        
    }
    
    .skills-container .skill-text{
        /* width: fit-content; */
        max-width: fit-content;
        justify-content: center;
        padding: 0 32px;
        gap: 32px;
        /* border: 1px solid var(--bg-light); */


    }
    .skills-container .skills-box{
        /* width: 416px;
        height: 426px; */
        width: 90%;
        height: fit-content;
        background-color: var(--bg-box-container);
        border-radius: 24px;
        display: flex;
        justify-content: start;
        overflow: hidden;
        /* align-items: stretch; */
    }
    .workflow-section .workflow-container{
        /* position: relative; */
        display: flex;
        flex-direction: column;
        gap: 32px;
    
    }
    .workflow-container .left-section{
        width: 100%;
        justify-content: center;
    
    }
    .workflow-container .right-section{
        width: 100%;
        justify-content: center;
    
    }
    .workflow-container .right-section{
        width: 100%;
        display: flex;
        justify-content: center;
        /* border: 1px solid white; */
    }
    
}

@media screen and (max-width:980px) and (min-width:700px){
    .header_container{
        margin-bottom: 100px;
    }
}
